.cta__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:35px 30px;

    @media screen and (max-width:$tablet) {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}

.form__input{
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    color: $white;
    transition:background-color 0.2s ease-in ;

    &::placeholder{
        color: rgb(190, 190, 190);
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
    }

    &:focus{
        background-color: rgba(255,255,255,0.25);
    }
}

.form__privacy{
    color: rgb(231, 231, 231);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    width: 255px;
    text-align: center;
    display: flex;
    align-items: center;
    
    @media screen and (max-width:$tablet) {
        margin: 0 auto;
        grid-row: 4/5;
    }
}

.form__btn{
    height: 50px;
    background-color: $accent;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    transition: background-color 0.2s ease-in;

    &:hover{
        background-color:saturate($accent, 30%);
    }
}